
#app {
  max-width: 1280px;
  margin:0 auto;
  padding: 2rem;
  text-align:left;
}

:root {
	--primary: #047200;
	--general: var(--primary);
	--light: #a8a8a8;
	--grey: #414040;
	--dark: #004916;
	--danger: #ff0000;
 
 
	--shadow: 0 1px 3px rgb(0, 0, 0);
 

	--general-glow: 0px 0px 4px rgba(95, 219, 105, 0.75);
}
 
 
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'montserrat', sans-serif;
}
 
 
input:not([type="radio"]):not([type="checkbox"]), button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: initial;
}
 
 
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: var(--light);
	color: var(--dark);
}
 
 
section {
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding-left: 1.5rem;
	padding-right: 1.5em;
}

h2 {
	color: var(--general);
	font-size: 2.1rem;
	font-weight:bolder;
  text-align: center;
	margin-bottom: 0.75rem;
} 

h3 {
	color: var(--dark);
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}
 
 
h4 {
	color: var(--grey);
	font-size: 0.875rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}
  
.greeting .title{
  display: flex;
	color: var(--dark);
	font-size: 3.1rem;
	font-weight: 700;
}
.greeting .title input {
  margin-left: 0.5rem;
	flex: 1 1 0%;
	min-width: 0;
	color: var(--general);
	font-size: 3.1rem;
	font-weight: 700;
}
 
 
.create-tiplist input[type="text"] {
	display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: var(--dark);
	background-color: #e6e6e6;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1.5rem;
}
 
  
 
.create-tiplist input[type="submit"] {
	display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: #FFF;
	background-color: var(--general);
	border-radius: 0.5rem;
	box-shadow: var(--personal-glow);
	cursor: pointer;
	transition: 0.2s ease-in-out;
}
 
 
.create-tiplist input[type="submit"]:hover {
	opacity: 0.75;
}
 
 
.tip-list .list {
	margin: 1rem 0;
} 
 
 
.tip-list .tip-item {
	display: flex;
	align-items: center;
	background-color: #e6e6e6;
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1rem;
}
 
 
.tip-item label {
	display: block;
	margin-right: 1rem;
	cursor: pointer;
}
 
 
.tip-item .tip-content {
	flex: 1 1 0%;
}
 
 
.tip-item .tip-content input {
	color: var(--dark);
	font-size: 1.125rem;
}
 
 
.tip-item .actions {
	display: flex;
	align-items: center;
}
 
 
.tip-item .actions button {
	display: block;
	padding: 0.5rem;
	border-radius: 0.25rem;
	color: #ffffff;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}
 
 
.tip-item .actions button:hover {
	opacity: 0.75;
}
 
 
.tip-item .actions .edit {
	margin-right: 0.5rem;
	background-color: var(--general);
}
 
 
.tip-item .actions .delete {
	background-color: var(--danger);
}
 
.tip-item.paid .tip-content label,
.tip-item.paid .tip-content input[type="text"]{
	text-decoration: line-through;
	color: var(--grey);
}